/*
$Id$

Copyright 2007 David Shakaryan <omp@gentoo.org>
Copyright 2007 Brenden Matthews <brenden@rty.ca>

Distributed under the terms of the GNU General Public License v3
*/

body {
	color: #333;
	background-color: #fbfbfb;
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Arial, sans-serif;
	font-size: 0.9em;
	text-align: center;
	margin: 0;
}

img {
	border: 0;
}

input.button, input.field, textarea {
	color: #a8002b;
	background-color: #f0e1e5;
	border: 1px solid #cc5271;
	font-size: 1.0em;
}

input.field, textarea { 
	padding: 3px;
}

input.button {
	font-weight: bold;
	padding: 2px;
}

input.button:hover {
	color: #f0e1e5;
	background-color: #a8002b;
}

br.clear {
	clear: both;
}

div#header {
	margin: 10px 0 20px 0;
}

div#header div#title {
	margin-bottom: 10px;
}

div#header div#title img {
	margin-bottom: -4px;
}

div#header div#search input.field {
	margin-right: 5px;
}

div#footer {
	color: #a8002b;
	background-color: #f0e1e5;
	border: 1px solid #cc5271;
	font-size: 0.8em;
	text-align: left;
	padding: 5px;
	margin: 20px 0 10px 0;
}

div#footer div.right {
	float: right;
}

div#container div.title a, div#footer a {
	color: #a8002b;
	text-decoration: none;
}

div#container div.title a:hover, div #footer a:hover {
	color: #f0e1e5;
	background-color: #a8002b;
}

div#container {
	text-align: center;
	margin: auto;
	padding: 0;
	width: 622px;
}

div#container div.title {
	color: #a8002b;
	background-color: #f0e1e5;
	border: 1px solid #cc5271;
	font-weight: bold;
	text-align: left;
	padding: 3px;
	margin-bottom: 5px;
}

div#container div.title div.links {
	float: right
}

div#container div.content {
	background-color: #f6f6f6;
	border: 1px solid #bbb;
	padding: 5px;
	margin-bottom: 10px;
}

div#container div.content a {
	color: #a8002b;
	text-decoration: none;
}

div#container div.content a:hover {
	color: #f6f6f6;
	background-color: #a8002b;
}

div#container div.content div.form .input {
	margin-bottom: 5px;
}

div#container div.content div.form div.name {
	margin-right: 5px;
}

div#container div.content div.form div.label {
	color: #a8002b;
	font-weight: bold;
	margin-bottom: 3px;
}

div#container div.content div.form textarea {
	font-size: 1.2em;
	width: 602px;
	height: 200px;
}

div#container div.content div.float {
	float: left;
}

div#container div.content div.thumb {
	background-color: #ddd;
	border: 1px solid #bbb;
	text-align: center;
	margin: 5px;
	padding: 5px;
	display: table;
}

div#container div.content div.thumb div.container {
	vertical-align: middle;
	height: 75px;
	width: 100px;
	display: table-cell;
}

div#container div.content div.thumb div.container a {
	background-color: transparent;
}

div#container div.content div.thumb div.container img {
	margin-bottom: -4px;
}

div#container div.content div.info {
	background-color: #ddd;
	border: 1px solid #bbb;
	text-align: center;
	margin: 0 5px 5px 5px;
	padding: 3px 5px 3px 5px;
	width: 100px;
}

div#container div.content div.thumb:hover, div#container div.content div.info:hover {
	border-color: #666;
}

div#container div.content div.automargin {
	margin-left: auto;
	margin-right: auto;
}

div#container div.content div.left {
	text-align: right;
	overflow: hidden;
	width: 115px;
	float: left;
}

div#container div.content div.right {
	text-align: left;
	overflow: hidden;
	width: 488px;
	float: right;
}

div#container div.content div.filelist {
	text-align: left;
	display: table;
	margin: auto;
}

div#container div.content div.filelist div.file {
	display: table-row;
}

div#container div.content div.filelist div.file span.filename {
	display: table-cell;
}

div#container div.content div.filelist div.file span.filename a {
	display: block;
}

div#container div.content div.filelist div.file span.fileinfo {
	color: #bbb;
	display: table-cell;
	padding-left: 15px;
}

div#container div.content table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

div#container div.content th {
	color: #a8002b;
	background-color: #f0e1e5;
	padding: 0 3px 0 3px;
}

div#container div.content td {
	padding: 0 3px 0 3px;
}

div#container div.content .small {
	width: 1px;
}

div#container div.content td a {
	width: 100%;
	display: block;
}

div#container div.content tr.even {
	background-color: #e6e6e6;
}

div#container div.left-align {
	text-align: left;
}

div#container div.large {
	color: #666;
	font-size: 1.6em;
	margin-top: 0;
}

div#container div.large div.powered {
	font-size: 0.8em;
	margin-top: 5px;
}

div#container div.comment {
	margin-bottom: 5px;
	overflow: hidden;
}

div#container div.comment pre {
	font-size: 1.2em;
	text-align: left;
	margin: 5px 0px 5px 0px;
}

div#container div.content div.form textarea.comment {
	height: 100px;
}
