/*

Copyright 2007-2009 David Shakaryan <omp@gentoo.org>
Copyright 2007-2009 Brenden Matthews <brenden@diddyinc.com>

Distributed under the terms of the GNU General Public License v3
*/

body {
	color: #333;
	background-color: #fbfbfb;
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Arial, sans-serif;
	font-size: 0.9em;
	text-align: center;
	margin: 0;
}

body.video {
	background-color: #010101;
}

img {
	border: 0;
}

input.button, input.field, textarea {
	color: #8000a0;
	background-color: #f0e1e5;
	border: 1px solid #8b00ff;
	font-size: 1.0em;
}

input.field, textarea {
	padding: 3px;
}

input.button {
	font-weight: bold;
	padding: 2px;
}

input.button:hover {
	color: #f0e1e5;
	background-color: #8000a0;
}

br.clear {
	clear: both;
}

span.pink {
	color: #f6f6f6;
	background-color: #cc00ff;
}

span.separator {
	font-weight: normal;
}

div#header {
	margin: 10px 0 20px 0;
}

div#header div#title {
	margin-bottom: 10px;
}

div#header div#title img {
	margin-bottom: -4px;
}

div#header div#search input.field {
	margin-right: 5px;
}

div#vidnfos {
	text-align: center;
}

div#button {
	color: #fa58f4;
	background-color: #f5a9f2;
/*	width: 100px;*/
	border: 1px solid #8b00ff;
	font-size: 0.8em;
	text-align: center;
	padding: 15px;
	float: center;
	margin: 20px 230px 20px 230px;
}

div#footer {
	color: #8000a0;
	background-color: #f0e1e5;
	border: 1px solid #8b00ff;
	font-size: 0.8em;
	text-align: left;
	padding: 5px;
	margin: 20px 0 10px 0;
}

div#footer div.right {
	float: right;
}

div#container div.title a, div#footer a {
	color: #8000a0;
	text-decoration: none;
}

div#container div.title a:hover, div #footer a:hover {
	color: #f0e1e5;
	background-color: #8000a0;
}

div#container {
	text-align: center;
	margin: auto;
	padding: 0;
	width: 722px;
}

div#container div.title {
	color: #8000a0;
	background-color: #f0e1e5;
	border: 1px solid #8b00ff;
	font-weight: bold;
	text-align: left;
	padding: 3px;
	margin-bottom: 5px;
}

div#container div.title div.links {
	float: right
}

div#container div.content {
	background-color: #f6f6f6;
	border: 1px solid #bbb;
	padding: 5px;
	margin-bottom: 10px;
}


div#container div.content a {
	color: #8000a0;
	text-decoration: none;
}

div#container div.content a:hover {
	color: #f6f6f6;
	background-color: #8000a0;
}

div#container div.content div.form .input {
	margin-bottom: 5px;
}

div#container div.content div.form div.name {
	margin-right: 5px;
}

div#container div.content div.form div.label {
	color: #8000a0;
	font-weight: bold;
	margin-bottom: 3px;
}

div#container div.content div.form textarea {
	font-size: 1.2em;
	width: 701px;
	height: 200px;
}

div#container div.content div.float {
	float: left;
}

div#container div.content div.thumb {
	background-color: #ddd;
	border: 1px solid #bbb;
	text-align: center;
	margin: 5px;
	padding: 5px;
	display: table;
}

div#container div.content div.thumb div.container {
	vertical-align: middle;
	height: 90px;
	width: 120px;
	display: table-cell;
}

div#container div.content div.thumb div.container a {
	background-color: transparent;
}

div#container div.content div.thumb div.container img {
	margin-bottom: -4px;
}

div#container div.content div.info {
	background-color: #ddd;
	border: 1px solid #bbb;
	text-align: center;
	margin: 0 5px 5px 5px;
	padding: 3px 5px 3px 5px;
	width: 120px;
}

div#container div.content div.thumb:hover, div#container div.content div.info:hover {
	border-color: #666;
}

div#container div.content div.automargin {
	margin-left: auto;
	margin-right: auto;
}

div#container div.content div.left {
	text-align: right;
	overflow: hidden;
	width: 115px;
	float: left;
}

div#container div.content div.right {
	text-align: left;
	overflow: hidden;
	width: 588px;
	float: right;
}

div#container div.content div.filelist {
	text-align: left;
	display: table;
	margin: auto;
}

div#container div.content div.filelist div.file {
	display: table-row;
}

div#container div.content div.filelist div.file span.filename {
	display: table-cell;
}

div#container div.content div.filelist div.file span.filename a {
	display: block;
}

div#container div.content div.filelist div.file span.fileinfo {
	display: table-cell;
	padding-left: 15px;
}

div#container div.content table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

div#container div.content th {
	color: #8000a0;
	background-color: #f0e1e5;
	padding: 0 3px 0 3px;
}

div#container div.content td {
	padding: 0 3px 0 3px;
}

div#container div.content .small {
	width: 1px;
}

div#container div.content td a {
	width: 100%;
	display: block;
}

div#container div.content tr.even {
	background-color: #e6e6e6;
}

div#container div.left-align {
	text-align: left;
}

div#container div.large {
	color: #666;
	font-size: 1.6em;
	margin-top: 0;
}

div#container div.large div.powered {
	font-size: 0.8em;
	margin-top: 5px;
}

div#container div.comment {
	margin-bottom: 5px;
}

div#container div.comment pre {
	font-size: 1.2em;
	text-align: left;
	margin: 5px 0px 5px 0px;
	overflow: hidden;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

div#container div.content div.form textarea.comment {
	height: 100px;
}

div#container div.content div.faq ol {
	list-style: none;
	padding-left: 1em;
}

div#container div.content div.faq ol li {
	text-align:left;
}

div#container div.content div.faq div.q {
	color: #8000a0;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.2em;
}

div#container div.content div.faq div.a {
	padding-left: 1em;
	margin-bottom: 1.2em;
}

div#container div.content div.form div.recaptcha {
	margin-left: 201px;
}

div#slogan h1 {
	color: #666;
}

div#container div.content div.upload {
	margin-top: 0.3em;
	background-color: #E5D5D5;
	padding: 5px;
	text-align: left;
	font-size: 0.75em;
/*	float: left;*/
}

div#container div.content div.upload div.left {
	float: left;
	width: 6em;
	margin-right: 0.3em;
}

div#container div.content div.upload div.right {
	float: none;
	width: auto;
}

/*div#container div.content div.upload a {
	width: 80%;
}*/

div#container div.content div.upload div.code {
	font-size: 1em;
	font-family: monospace;
	background: #efefef;
	margin: 5px 0px 5px 0px;
	padding: 3px;
	border:1px solid #BBBBBB;
	overflow: hidden;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	width: auto;
/*	float: right;*/
}


div#container div.content div.form textarea.comment {
	height: 100px;
}

video {
	width: 85%;
}

div#vidinfos {
	padding: 3px 0 20px 0;
	color: #8000A0;
}

body.video div#container div.content div#vidinfos a {
	color: #C0B1B5;
	text-decoration: none;
}

body.video div#container div.content div#vidinfos a:hover {
	color: #f6f6f6;
	background-color: #8000a0;
}


body.video div#container {
	width: 100%;
}

body.video div#info_area {
	width: 722px;
	margin: auto;
/* 	padding: 5px; */
}

body.video div#info_area div.title {
	background-color: #c0b1b5;
	border-color: #5A00AE;
}

body.video div#container div.content div#info_area div.content {
	background-color: #ddd;
/* 	border: 1px solid #F6F6F6; */
/*	padding: 10px;*/
	margin-left: 1px;
	margin-right: 1px;
}

body.video div#footer {
	background-color: #c0b1b5;
	border-color: #5A00AE;
}

body.video div#container div.content {
	background-color: #010101;
	border: none;
}

body.video div#container div.content div#info_area div.thumb {
	background-color:#eee;
	border:1px solid #BBBBBB;
}

body.video div#container div.content div#info_area div.thumb:hover {
	border-color: #333;
}

body.video div#container div.content div#info_area div.thumb a:hover {
	color: #8B00FF;
}

body.video div#footer {
	width: 710px;
	margin: auto;
}

div.biggest {
	font-size: 2em;
	font-weight: bold;
}

div.big {
	font-size: 1.6em;
}

div.medium {
	font-size: 1.4em;
}

div.codebox {
	text-align: left;
	width: 600px;
	margin: auto;
}

div.code {
	text-align: left;
	width: 600px;
	border: 1px solid #999;
	margin: auto;
	padding: 5px;
	background-color: #fdd;
}

div.code pre {
	margin: 0;
}

/*div#container div.content ol li + li + li p > strong { display: block; width: 250px; height: 200px; background-image: url('http://omploader.org/vNzdu'); }
div#container div.content ol li + li + li p > strong + strong { display: inline; background-image: none; }*/
