#
# Copyright 2007-2009 David Shakaryan <omp@gentoo.org>
# Copyright 2007-2009 Brenden Matthews <brenden@diddyinc.com>
#
# Distributed under the terms of the GNU General Public License v3
#

---
# Database settings
database:
  name: omploader
  user: omploader
  pass: omploader
  host: localhost
  # Takes zoneinfo names as a param, eg.
  # Canada/Mountain
  # Europe/Helsinki
  # US/Eastern
  timezone: UTC

# Limits (ie min/maximums)
limits:
  # Number of uploads in a given period (in minutes)
  # before getting throttled
  #
  # Note: the cron script needs to run every minute
  # for this to work properly
  upload_count: 10
  upload_period: 2
  max_random_rows: 2

  # Number of days after which 'votes' (hit counts) expire
  vote_expiry: 1
  # Number of days after which 'visitors' (IP addresses used to count votes) expire
  visitor_expiry: 1
  # Number of days after which thumbnails expire
  thumbnail_expiry: 1
  # Number of days after which owners expire
  owner_expiry: 365.25
  # Maximum file size (in bytes)
  max_file_size: 268435456

paths:
  # Path of data store (relative to scripts)
  data: ../data/
  thumbnails: ../thumbnails/
  log: ../error_log
  video_up_data: ../video_up_data

# Captcha keys from http://recaptcha.net/
captcha:
  pub_key: aoerlugsrhcapustnhaoeu
  priv_key: oaeu09aoeu90aoeu89

# Debugging options
debug:
  # Enable extra debug info? (true/false)
  enabled: false

memcached:
  # Longer expiry time (in seconds)
  expiry_long: 600
  # Shorter expiry time (in seconds)
  expiry_short: 60
  servers: [ '192.168.1.1:11211', '192.168.1.2:11211' ]
  # A unique name to associate the cache with this particular instance
  namespace: omploader

amazon_s3:
  # url for video download bucket
  down_bucket_url: http://s3.amazon.com/blah

httpd:
  # use the CGI header X-Sendfile to image data
  # not all httpd servers support this
  # an apache2 module can be found here: http://tn123.ath.cx/mod_xsendfile/
  xsendfile: true

general:
  # number of files per directory within the data store DO NOT change this
  # unless you know what you're doing, it will destroy your installation
  files_per_dir = 10000

# define if you need to throw ads in the footer
footer_ad:
