#
# $Id$
#
# Copyright 2007-2008 David Shakaryan <omp@gentoo.org>
# Copyright 2007-2008 Brenden Matthews <brenden@rty.ca>
#
# Distributed under the terms of the GNU General Public License v3
#

---
# Database settings
database:
  name: omploader
  user: omploader
  pass: omploader
  host: localhost
  # Takes zoneinfo names as a param, eg.
  # Canada/Mountain
  # Europe/Helsinki
  # US/Eastern
  timezone: UTC

# Limits (ie min/maximums)
limits:
  # Number of uploads in a given period (in minutes)
  # before getting throttled
  #
  # Note: the cron script needs to run every minute
  # for this to work properly
  upload_count: 10
  upload_period: 2
  max_random_rows: 2
  
  # Number of days after which 'votes' (hit counts) expire
  vote_expiry: 1
  # Number of days after which 'visitors' (IP addresses used to count votes) expire
  visitor_expiry: 1
  # Number of days after which thumbnails expire
  thumbnail_expiry: 1
  # Number of days after which owners expire
  owner_expiry: 365.25

paths:
  # Path of data store (relative to scripts)
  data: ../data/
  thumbnails: ../thumbnails/
  log: ../error_log

# Captcha keys from http://recaptcha.net/
captcha:
  pub_key: aoerlugsrhcapustnhaoeu
  priv_key: oaeu09aoeu90aoeu89

# Debugging options
debug:
  # Enable extra debug info? (true/false)
  enabled: false

memcached:
  # Longer expiry time (in seconds)
  expiry_long: 600
  # Shorter expiry time (in seconds)
  expiry_short: 60
  servers: [ '192.168.1.1:11211', '192.168.1.2:11211' ]
  # A unique name to associate the cache with this particular instance
  namespace: omploader
